@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn {
  text-transform: none;
}

/* .paypal-buttons {
  display: none !important;
} */


/* paypal-buttons-context-iframe paypal-buttons-label-unknown paypal-buttons-layout-vertical */

.paypal-button.paypal-button-color-gold, .paypal-button-row.paypal-button-color-gold .menu-button {
  background-color: red !important;
}

.paypal-buttons, .paypal-buttons-context-iframe, .paypal-buttons-label-unknown, .paypal-buttons-layout-vertical {
  background-color: red !important;
}